# Introduction to Data Preparation
This notebook focuses on loading the Airbnb listings dataset, cleaning it, and preparing it for feature engineering. The main steps include:
- Loading data into a Pandas DataFrame
- Randomly sampling 100 rows for live data
- Storing the remainder of the data in a PostgreSQL database
- Removing irrelevant columns
- Handling missing values
- Converting categorical variables

## Part 1: Data Loading and Sampling
### Load Data
First, we load the Airbnb listings dataset into a Pandas DataFrame.

I am working on scenario1: You and a group of friends are considering purchasing a property in Chicago that you can use as an investment. You have heard from other people that they have made a lot of money by renting out either a room or an entire unit (apartment or house). Your friends ask you to analyze data so that they can understand how much you would charge per night based on the type of dwelling you were to purchase.

In [1]:
import pandas as pd
import numpy as np

Load data into a Pandas DataFrame

In [2]:
df = pd.read_csv("listings.csv")

Loading data into a Pandas dataframe randomly selecting 100 rows of the data. Once selected, I saved these rows to new csv AND removed them from primary dataframe.

In [3]:
sampled_df = df.sample(n=100, random_state=42)

Save the sampled rows to a new CSV file

In [4]:
sampled_df.to_csv("live_data.csv", index=False)

Remove these rows from the original DataFrame

In [5]:
df = df.drop(sampled_df.index)


## Part 2: PostgreSQL Database Connection and Data Storage
### Connect to PostgreSQL Database
Next, we connect to a PostgreSQL database and store the remainder of the data in the raw schema.

In [6]:
from sqlalchemy import create_engine
import psycopg2

Define database connection parameters

In [ ]:
host = '127.0.0.1'
db = 'project_airbnb'
user = 'postgres'
pw = 'your_pass'
port = '5432'

Create a database connection engine

In [8]:
db_conn = create_engine(f"postgresql://{user}:{pw}@{host}:{port}/{db}")

Store the remainder of data in the raw schema

In [9]:
df.to_sql('remainder_data', db_conn, schema='raw', if_exists='replace', index=False)

297

Data Definition_

Field name and description:
•	id - The id of the airbnb
•	name - The name of the airbnb
•	host_id - The id of the host
•	host_name - The name of the host
•	neighborhood - Which area is the airbnb belongs to
•	latitude - The latitude of the position
•	longitude - The longitude of the position
•	room_type - Entire home/apt, Private room or Other
•	price - The price of the apartment (per day)
•	minimum_nights - The least nights you need to book
•	number_of_reviews - The total number of the reviews on this dataset
•	last_review - The last review time
•	reviews_per_month - How many reviews the airbnb can receive per month
•	calculated_host_listings_count - The total listing number of the host
•	availability_365 - The available days

Type of data (nominal, ordinal, discrete, continuous):
o	Nominal: Categories without order (e.g., Neighborhood, name).
o	Discrete: Countable numbers (e.g., price, minimum_nights).
o	Continuous: Measured values (e.g., reviews_per_month).



Analytical Question_

A well-formed question as a complete sentence:
How do different factors (e.g., room_type, number_of_reviews, and neighbourhood) influence the listing’s price?

Identify the target variable for your analysis:
Price

now let's cleanup and prepare the remaining data for machine learning: handling missing values or outliers, converting categorical variables, etc.

Remove irrelevant columns

In [10]:
columns_to_drop = ['id', 'host_id', 'host_name', 'calculated_host_listings_count', 'last_review']
df = df.drop(columns=columns_to_drop)

Save the cleaned dataset

In [11]:
df.to_csv("cleaned_listings.csv", index=False)

Check for missing values

In [12]:
print(df.isnull().sum())

name                      0
neighbourhood_group    6297
neighbourhood             0
latitude                  0
longitude                 0
room_type                 0
price                     0
minimum_nights            0
number_of_reviews         0
reviews_per_month      1114
availability_365          0
dtype: int64

Visualize outliers using IQR method for numerical columns

In [15]:
numerical_cols = ['price', 'minimum_nights', 'number_of_reviews', 'availability_365']
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    print(f"Outliers for {col}:")
    print(df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))])

Outliers for price:
                                                   name  neighbourhood_group  \
40             Family Style Home-walk to Aragon/Riviera                  NaN
62                      Chicago Lakefront Sailing Yacht                  NaN
64                  Drop-dead fab on the Lake  2bd/2bth                  NaN
88                   Italian style in elegant apartment                  NaN
123                     Lincoln Park Single Family Home                  NaN
...                                                 ...                  ...
6307  Gorgeous NEW 5 BDR/ 4BA in Logan Square w/Park...                  NaN
6378   Sundrenched Northeast Corner Unit in South Loop.                  NaN
6383        Luxury condo in Lincoln Park prime location                  NaN
6391                 Space for Professional Events Only                  NaN
6394  Two story Penthouse w private Rooftop & Great ...                  NaN

        neighbourhood   latitude  longitude        room_type  price  \
40             Uptown  41.969240 -87.658070  Entire home/apt    764
62    Near South Side  41.854670 -87.614170  Entire home/apt    495
64          Lake View  41.942840 -87.639190  Entire home/apt    490
88             Uptown  41.960460 -87.663460  Entire home/apt    299
123      Lincoln Park  41.929130 -87.669210  Entire home/apt    511
...               ...        ...        ...              ...    ...
6307         Avondale  41.937410 -87.695540  Entire home/apt    337
6378  Near South Side  41.859730 -87.623520  Entire home/apt    500
6383     Lincoln Park  41.923010 -87.645270  Entire home/apt    316
6391        West Town  41.907022 -87.667942  Entire home/apt    344
6394  Near South Side  41.855840 -87.624040  Entire home/apt    493

      minimum_nights  number_of_reviews  reviews_per_month  availability_365
40                 1                 22               0.21                 0
62                 2                 28               0.28               365
64                 1                 35               0.35               365
88               365                 16               0.17               365
123                2                 77               0.91               102
...              ...                ...                ...               ...
6307               3                  0                NaN               363
6378               2                  0                NaN                91
6383              30                  0                NaN               110
6391               1                  0                NaN               355
6394               2                  0                NaN               177

[549 rows x 11 columns]
Outliers for minimum_nights:
                                                   name  neighbourhood_group  \
8     *** Luxury in Chicago! 2BR/ 2Ba / Parking / BB...                  NaN
9     Private Apt 1 Block to Fullerton L Red Line - ...                  NaN
10    Top 2/1  Block to Fullerton L Red Line Deck & ...                  NaN
14    2 Bed MCM 1 Block to Fullerton Red line L & Ga...                  NaN
25                   1BR/1BA Suite in Chicago (3709-G1)                  NaN
...                                                 ...                  ...
6383        Luxury condo in Lincoln Park prime location                  NaN
6384          Entire apartment for you | 2BR in Chicago                  NaN
6385            Living room space with privacy curtains                  NaN
6388                     Cute room in downtown Boystown                  NaN
6395                             West Town Private Room                  NaN

     neighbourhood  latitude  longitude        room_type  price  \
8        West Town  41.89617  -87.66041  Entire home/apt     99
9     Lincoln Park  41.92679  -87.65521  Entire home/apt    112
10    Lincoln Park  41.92693  -87.65753  Entire home/apt     75
14    Lincoln Park  41.92673  -87.65731  Entire home/apt     95
25     Irving Park  41.96012  -87.72158  Entire home/apt     79
...            ...       ...        ...              ...    ...
6383  Lincoln Park  41.92301  -87.64527  Entire home/apt    316
6384  Lincoln Park  41.92819  -87.65250  Entire home/apt    230
6385   Irving Park  41.93914  -87.72993      Shared room     20
6388     Lake View  41.94436  -87.64812     Private room     85
6395     West Town  41.89005  -87.66668     Private room     53

      minimum_nights  number_of_reviews  reviews_per_month  availability_365
8                 91                  9               0.11               365
9                 32                 37               0.29               180
10                32                 47               0.38                62
14                32                 52               0.47               206
25                28                 33               0.30               346
...              ...                ...                ...               ...
6383              30                  0                NaN               110
6384              33                  0                NaN               314
6385               7                  0                NaN               365
6388              29                  0                NaN               365
6395              32                  0                NaN                83

[1183 rows x 11 columns]
Outliers for number_of_reviews:
                                                   name  neighbourhood_group  \
0     Hyde Park - Walk to UChicago, 10 min to McCormick                  NaN
1     394 Great Reviews. 127 y/o House. 40 yds to tr...                  NaN
2                   Tiny Studio Apartment 94 Walk Score                  NaN
12                    Andersonville - Perfect location!                  NaN
13                  Central guestroom! Walk everywhere!                  NaN
...                                                 ...                  ...
3218  Restoring Chicago speakeasy of the 1920s. Room 4A                  NaN
3385       Lovely Andersonville Apt with Ideal Location                  NaN
3411  Restoring Chicago Speakeasy from the 1920s Roo...                  NaN
3414                                    The Hobbit Hole                  NaN
4129          Michigan Avenue Boutique Hotel, Queen Bed                  NaN

        neighbourhood  latitude  longitude        room_type  price  \
0           Hyde Park  41.78790  -87.58780     Private room     60
1      South Lawndale  41.85495  -87.69696  Entire home/apt    105
2           West Town  41.90289  -87.68182  Entire home/apt     60
12             Uptown  41.97385  -87.66539     Private room     77
13    Near North Side  41.89377  -87.63465     Private room     75
...               ...       ...        ...              ...    ...
3218  Near North Side  41.89062  -87.63094     Private room    100
3385           Uptown  41.97226  -87.66441  Entire home/apt     75
3411  Near North Side  41.88906  -87.63074     Private room     99
3414   Lincoln Square  41.97509  -87.69546  Entire home/apt     50
4129             Loop  41.87635  -87.62427     Private room    104

      minimum_nights  number_of_reviews  reviews_per_month  availability_365
0                  2                178               2.56               353
1                  2                395               2.81               155
2                  2                384               2.81               321
12                 3                250               2.02               223
13                 2                500               4.13                 0
...              ...                ...                ...               ...
3218               1                155               6.97               341
3385               2                174               8.97               167
3411               1                163               8.67               342
3414               1                140               7.11               324
4129               1                334              32.43               347

[533 rows x 11 columns]
Outliers for availability_365:
Empty DataFrame
Columns: [name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, availability_365]
Index: []

Convert categorical variables

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['room_type'] = le.fit_transform(df['room_type'])
df['neighbourhood'] = le.fit_transform(df['neighbourhood'])

Store cleaned data in the cleaned schema

In [17]:
df.to_sql('cleaned_data', db_conn, schema='cleaned', if_exists='replace', index=False)

297